{% extends 'base.html' %}

{% block content %}
<!-- input form -->
<div class="container flex justify-center items-center v-screen mt-5">
    <!-- form  -->
    <form action="." method="POST">
        {% csrf_token %}
       <input type="text" placeholder='Enter location' class="border-indigo-900 border-2 rounded-3xl shadow-md focus:indigo-600 w-96  placeholder-indigo-500::placeholder">

        
        <button id="btn" class="absolute bg-blue-700 text-sm pt-2 pb-2 px-4 -ml-20  rounded-3xl text-stone-50" type="submit" >Submit</a>
    </form>

  
</div>

{% endblock%}



